img {
    border-radius: 60px;
    margin-left:25px;
}

thead {
    background-color: rgb(48, 22, 48);
    color:white
}

td {
    margin:0;
    padding: 0;
    letter-spacing: 2px;
}

#name-dropdown {
    text-align:center;
}

.table-responsive{
    background-color: white;
    border-radius: 4px;
    margin-bottom:100px;
   
}

.header-text {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.table-data {
    text-align: center;
    border-bottom: 2px solid rgb(80, 38, 80);
}

button#sort-btn {
    background-color:white;
    border: 2px solid rgb(48, 22, 48);
    color:rgb(77, 36, 77);
    width:55px;
    font-size: 13px;
    margin-left:5px;
    box-shadow: none;
};





