.body {
    background-color:rgb(16, 16, 51);
}

img {
    border-radius: 60px;
    margin-left:25px;
}

td {
    margin:0;
    padding: 0;
    letter-spacing: 2px;
}

div.search-section {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.table {
    background-color: white;
}
